Package: freeswitch-mod-event-kafka
Version: 1._VERSION_
Architecture: all
Section: base
Priority: standard
Depends: librdkafka1 (>= 0.9.3-1), freeswitch
Conflicts: fk-librdkafka
Maintainer: Kinshuk Bairagi <me@kinshuk.in>
Description: Publish FreeSwitch Event to Kafka
